<h2>Weapons</h2>
<table>
    <tr>
      <th>Name</th>
      <th>Status</th>
    </tr>
  {% for weapon in site.data.weapons %}

    {% if weapon.edition == "detetive"%}
      <tr>
        <td class="guess-component">{{ weapon.name }}</td>
        <td><input type="button" class="multi-checkbox" value="&#x2B1C;" /></td>
      </tr> 
    {% else %}
      {% if (weapon.base or weapon.edition == edition) && weapon.edition != "detetive" %}
          <tr>
              <td class="guess-component">{{ weapon.name }}</td>
              <td><input type="button" class="multi-checkbox" value="&#x2B1C;" /></td>
          </tr>
      {% endif %}
    {% endif %}

  {% endfor %}
  </table>